@charset "utf-8";

#input-area {

}

#main-area {
	margin: 20px 0;
	height: 100%;
}

.main-area-child {
	display: inline-block;
}

.main-area-child:first-child {
	margin-right: 10px;
}

.main-area-child:last-child {
	vertical-align: top;
}

.sum-area {
	width: 100px;
	text-align: center;
	background-color: #808080;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
}