@charset "utf-8";

* {
	font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue",
		"Segoe UI", YuGothicM, YuGothic, Meiryo, sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4488b3;
	padding: 10px;
}

header h1 {
	margin: 0;
	padding: 0;
	color: white;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #4488b3;
}

input[type="submit"], input[type="text"], input[type="password"], input[type="date"],
	textarea, select, input[type="number"], input[type="button"] {
	border-radius: 5px;
	outline: none;
}

input[type="text"], input[type="password"], input[type="date"], select, input[type="number"] {
	border: 1px solid #D8D8D8;
	outline: none;
}

input[type="submit"], input[type="button"] {
	cursor: pointer;
}

/* 入力要素の色(エラー時) */
.error {
	background-color: #ffb6c1;
	border-color: red!important;
}