@charset "UTF-8";

/* ボタン */
.btn-info {
	background-color: #81BEF7;
	color: white;
	border-color: #81BEF7;
	width: 50px;
	height: 30px;
	border: 1px solid #81BEF7;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.btn-warning {
	background-color: #eea236;
	color: white;
	border-color: #eea236;
	width: 50px;
	height: 30px;
	border: 1px solid #eea236;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

/* ボタンがカーソルに置かれた時に色変更 */
.btn-info:hover {
	background: #58ACFA;
	border: solid 1px #58ACFA;
}

.btn-warning:hover {
	background: #ffa500;
	border: solid 1px #ffa500;
}

/* ボタンがクリックされた時に色変更 */
.btn-info:active {
	background: #2E9AFE;
	border: solid 1px #2E9AFE;
}

.btn-warning:active {
	background: #ff8c00;
	border: solid 1px #ff8c00;
}

/* コンボボックス */
.combo {
	width: 120px;
	height: 30px;
	border-radius: 5px;
}