@charset "utf-8";

.modal {
	margin: auto;
	padding: 0;
	border: 2px solid #aaa;
	background: #ffffff;
	z-index: 2;
	position: fixed;
	display: none;
}

#modal-overlay, #confirm-overlay, #alert-overlay {
	z-index: 1;
	display: none; /* 要素を非表示(フェードインさせるために記述) */
	position: fixed; /* 要素の位置を固定 */
	top: 0;
	left: 0;
	width: 100%; /* 要素の幅 */
	height: 120%; /* 要素の高さ(スマホ対策のため、120%) */
}

#modal-overlay {
	background-color: rgba(0,0,0,0.75); /* 背景色(半透明) */
}

.modal-header {
	text-align: right;
	border-bottom: 2px solid #aaa;
	padding: 10px;
}

.modal-footer {
	text-align: right;
	border-top: 2px solid #aaa;
	padding: 10px;
}

.modal-content {
	padding: 20px;
}

#modal-close {
	margin-top: -8px;
	background: none;
	border: 0;
	font-size: 24px;
	opacity: 0.5;
	outline: none;
}