@charset "utf-8";

/** モーダル要素 */
.modal {
	margin: auto;
	padding: 0;
	border: 2px solid #aaa;
	background: #ffffff;
	z-index: 2;
	position: fixed;
	display: none;
}

/** オーバーレイ */
.overlay {
	z-index: 1;
	display: none; /* 要素を非表示(フェードインさせるために記述) */
	position: fixed; /* 要素の位置を固定 */
	top: 0;
	left: 0;
	width: 100%; /* 要素の幅 */
	height: 120%; /* 要素の高さ(スマホ対策のため、120%) */
}

/** オーバーレイ(半透明にする) */
.overlay-translucent {
	background-color: rgba(0, 0, 0, 0.75); /* 背景色(半透明) */
}

/** ヘッダー要素 */
.base-dialog-header {
	text-align: right;
	border-bottom: 2px solid #aaa;
	padding: 10px;
}

/** フッター要素 */
.base-dialog-footer {
	text-align: right;
	border-top: 2px solid #aaa;
	padding: 10px;
}

/** コンテンツ要素 */
.base-dialog-content {
	padding: 20px;
}

/** ×(閉じる)ボタン */
.base-dialog-close {
	margin-top: -8px;
	background: none;
	border: 0;
	font-size: 24px;
	opacity: 0.5;
	outline: none;
	cursor: pointer;
}

/* カーソル位置がボタンと重なった時に透明度変更 */
.base-dialog-close:hover {
	opacity: 1;
}

/* カーソル位置がボタンと離れた時に透明度変更 */
.base-dialog-close:not(:hover) {
	opacity: 0.5;
}