@charset "utf-8";

.button-border {
	border: 1px solid;
}

/* 入力エリア */
#input-area {

}

/* ボタン */
.button-info {
	background-color: #81BEF7;
	color: white;
	border-color: #81BEF7;
}

.button-warning {
	background-color: #eea236;
	color: white;
	border-color: #eea236;
}

/* ボタンがカーソルに置かれた時に色変更 */
.button-info:hover {
	background: #58ACFA;
	border: solid 1px #58ACFA;
}

.button-warning:hover {
	background: #ffa500;
	border: solid 1px #ffa500;
}

/* ボタンがクリックされた時に色変更 */
.button-info:active {
	background: #2E9AFE;
	border: solid 1px #2E9AFE;
}

.button-warning:active {
	background: #ff8c00;
	border: solid 1px #ff8c00;
}

/* テーブルエリア */
#tableArea {
	margin: 30px 0;
	height: 590px;
}