@charset "utf-8";

.button-border {
	border: 1px solid;
}

/* 入力エリア */
#inputArea {

}

/* 画像 */
#inputArea input[type="image"] {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin-bottom: 5px;
}

/* ボタン */
.button-info {
	background-color: #81BEF7;
	color: white;
	border-color: #81BEF7;
}

.button-warning {
	background-color: #eea236;
	color: white;
	border-color: #eea236;
}

/* ボタンがカーソルに置かれた時に色変更 */
.button-info:hover {
	background: #58ACFA;
	border: solid 1px #58ACFA;
}

.button-warning:hover {
	background: #ffa500;
	border: solid 1px #ffa500;
}

/* ボタンがクリックされた時に色変更 */
.button-info:active {
	background: #2E9AFE;
	border: solid 1px #2E9AFE;
}

.button-warning:active {
	background: #ff8c00;
	border: solid 1px #ff8c00;
}

/* テーブルエリア */
#tableArea {
	margin: 30px 0;
	overflow: auto;
}

/* テキストエリア*/
#memoArea textarea{
	width: 98%;
	padding: 10px;
	height: 100px;
	resize: none; /* 右下の//を消す */
}