@charset "utf-8";

#dlt_button, #add_button, #upd_button, #print_button {
	border: 1px solid;
}

/* 入力エリア */
#inputArea {

}

/* 画像 */
#inputArea input[type="image"] {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin-bottom: 5px;
}

/* ボタン */
#print_button, #add_button, #upd_button {
	background-color: #81BEF7;
	color: white;
	border-color: #81BEF7;
}

#dlt_button {
	background-color: #eea236;
	color: white;
	border-color: #eea236;
}

/* ボタンがカーソルに置かれた時に色変更 */
#print_button:hover, #add_button:hover, #upd_button:hover {
	background: #58ACFA;
	border: solid 1px #58ACFA;
}

#dlt_button:hover {
	background: #ffa500;
	border: solid 1px #ffa500;
}

/* ボタンがクリックされた時に色変更 */
#print_button:active, #add_button:active, #upd_button:active {
	background: #2E9AFE;
	border: solid 1px #2E9AFE;
}

#dlt_button:active {
	background: #ff8c00;
	border: solid 1px #ff8c00;
}

/* テーブルエリア */
#tableArea {
	margin: 30px 0;
	overflow: auto;
}

/* テキストエリア*/
#memoArea textarea{
	width: 95%;
	padding: 10px;
	height: 100px;
	resize: none; /* 右下の//を消す */
}